<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>app09</display-name>
  
  <servlet>
  	<servlet-name>TestInitConfig</servlet-name>
  	<servlet-class>app09.TestInitConfigServlet</servlet-class>
  	<init-param>
		<param-name>configName</param-name>
		<param-value>configValue</param-value>  		
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TestInitConfig</servlet-name>
  	<url-pattern>/testConfig</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>첫번째로 만들어본 서블릿.</description>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>app09.IndexServlet</servlet-class>	
  </servlet>
  
  <servlet>
  	<description>서버 시간 서블릿</description>
  	<servlet-name>ServerTime</servlet-name>
  	<servlet-class>app09.ServerTimeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ServerTime</servlet-name>
  	<url-pattern>/now</url-pattern>
  	<url-pattern>/serverTime</url-pattern>
  	<url-pattern>/now.do</url-pattern>
  </servlet-mapping>
</web-app>